.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loadMore {
    cursor: pointer;
    background-color: red;
    border: none;
    padding: 7px 25px;
    font-size: 13px;
    margin-top:  -20px;
    margin-bottom: 20px;
}